<div id="masonry-grid" class="grid gap-4 p-4" style="display: block;">
  {{ range .Page.Resources.Match "*.jpg" }}
    <div class="grid-item">
      <img src="{{ .RelPermalink }}" class="object-cover w-full  shadow-md">
    </div>
  {{ end }}
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const masonry = Macy({
      container: "#masonry-grid",
      columns: 3,
      margin: 16,
      breakAt: {
        1200: 3,
        940: 2,
        520: 1,
      }
    });

    // Forcer un re-rendu après le chargement des images
    window.addEventListener("load", function () {
      masonry.recalculate();
    });
  });
</script>

