

<footer class=" text-black">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-4">
            <img src="/images/icons/icon-bg.png" alt="Logo" class="h-10">
            <div>
                <p>Thank you for your visit</p>
                <p>&copy; <span id="current-year"></span> Theo Lejeune. All rights reserved.</p>
                <script>
                    document.getElementById('current-year').textContent = new Date().getFullYear();
                </script>    </div>
        </div>
        <div class="flex space-x-8">
            <div>
                <h3 class="font-bold mb-2">Links</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Home</a></li>
                    <li><a href="#" class="hover:underline">About</a></li>
                    <li><a href="#" class="hover:underline">Projects</a></li>
                    <li><a href="#" class="hover:underline">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-2">Social</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Twitter</a></li>
                    <li><a href="#" class="hover:underline">LinkedIn</a></li>
                    <li><a href="#" class="hover:underline">GitHub</a></li>
                    <li><a href="#" class="hover:underline">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="footer-background"></div>

<style>


  
footer {
    position: relative; /* Position relative pour être le point de référence de l'image */
    z-index: 1; /* Le footer est au-dessus de l'image */
    overflow: hidden; /* Cache tout ce qui dépasse du footer */
}





</style>