<h2 class="text-4xl font-bold my-8">Get to know me</h2>


<div class="grid grid-cols-1 md:grid-cols-2 gap-6">

  <a href="https://example.com/bookshelf" class="block">

    <div
      class="bg-white rounded-3xl shadow-sm hover:shadow-md transition-shadow flex flex-col items-center justify-between aspect-square overflow-hidden">
      <h2 class="text-4xl font-semibold text-gray-900 text-center my-8">About me</h2>
      <p class="text-xl text-gray-500 text-center mb-6">Who am I and what I do</p>
      <img src="./images/profile.png" alt="Image" class="w-full mt-auto rounded-3xl" />

    </div>
  </a>

  <a href="https://example.com/bookshelf" class="block">

    <div
      class="bg-white rounded-3xl shadow-sm hover:shadow-md transition-shadow flex flex-col items-center justify-between aspect-square overflow-hidden">
      <h2 class="text-4xl font-semibold text-gray-900 text-center my-8">Notebook</h2>
      <p class="text-xl text-gray-500 text-center mb-6">My thoughts, insights and reflections</p>
      <img src="./images/notebook2.png" alt="Image" class="w-full mt-auto rounded-3xl object-scale-down" />

    </div>
  </a>

  <a href="/gallery/" class="block">
    <div
      class="bg-white rounded-3xl shadow-sm hover:shadow-md transition-shadow flex flex-col items-center justify-between aspect-square overflow-hidden">
      <h2 class="text-4xl font-semibold text-gray-900 text-center my-8">Photo Gallery</h2>
      <p class="text-xl text-gray-500 text-center mb-6">A collection of my favorite photos</p>
      <img src="./images/gallery.png" alt="Photo Gallery" class="w-full mt-auto rounded-3xl object-cover" />
    </div>
  </a>

  <a href="https://example.com/bookshelf" class="block">

    <div
      class="bg-white rounded-3xl shadow-sm hover:shadow-md transition-shadow flex flex-col items-center justify-between aspect-square overflow-hidden">
      <h2 class="text-4xl font-semibold text-gray-900 text-center my-8">Tech Stack</h2>
      <p class="text-xl text-gray-500 text-center mb-6">The dev tools, apps, devices and games I use and play</p>
      <img src="./images/stack.png" alt="Image" class="w-full mt-auto rounded-3xl" />
    </div>
  </a>

</div>