<div class="svg-background"></div>

<nav class="box pl-2 pr-2 text-gray-600 mx-auto my-2  flex justify-between content-center items-center rounded-md"
    style="width: 60%; margin-left: 20%; margin-right: 20%;">

    <div class="lien">
        <ul class="flex space-x-4 items-center">
            <li><a href="/" class="hover:underline"><img src="{{ "./images/icons/apple-touch-icon.png" | relURL }}" alt="logo"
                        class="object-contain h-16" /></a></li>
            <li><a href="/about/" class="hover:underline">About</a></li>
            <li><a href="/Work/" class="hover:underline">Work</a></li>
            <li><a href="/blog/" class="hover:underline">Notebook</a></li>
            <li><a href="/contact/" class="hover:underline">Contact</a></li>

        </ul>
    </div>

    <div class="reseau">
        <ul class="flex space-x-4">

            <li><a href="
https://twitter.com/theolejeune" class="hover:underline"><i class="fa-brands fa-x-twitter"></i></a></li>


            <li><a href="
    https://twitter.com/theolejeune" class="hover:underline"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="
        https://twitter.com/theolejeune" class="hover:underline"><i class="fa-brands fa-github"></i></a></li>


            <li>
                <div class="border-l border-gray-400 h-6"></div>
            </li>
            <li> <i class="fa-solid fa-circle-half-stroke"></i>
            </li>
            <div class="flex space-x-4">
                {{ range .Site.Languages }}
                    {{ $flagCode := .Lang }}
                    {{ if eq .Lang "en" }} {{ $flagCode = "gb" }} {{ end }}
                    
                    <a href="{{ .Lang | relURL }}" class="px-3 py-2 flex items-center">
                        <img src="https://flagcdn.com/w40/{{ $flagCode }}.png" 
                             alt="{{ .LanguageName }} Flag" 
                             class="w-6 h-4 mr-2">
                    </a>
                {{ end }}
            </div>
            
            
            


        </ul>
    </div>

</nav>

<div class="background-svg">

    <style>
        .svg-background {
            position: absolute;
            /* Fixe l'image en haut */
            top: -500px;
            left: 0;
            width: 100%;
            height: 100vh;
            /* Occupe toute la hauteur de l’écran */
            background-image: url("{{ "images/ccchaos.svg" | relURL }}");
            /* Remplace par ton chemin */
            background-position: center top;
            /* Centre l'image et la colle en haut */
            background-size: contain;
            /* Affiche toute l’image sans la couper */
            background-repeat: no-repeat;
            z-index: -1;
            /* Met le SVG en arrière-plan */
        }


        .box {
            margin: 1rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);

            -webkit-backdrop-filter: blur(10px) saturate(180%);
            backdrop-filter: blur(10px) saturate(180%);
            background-color: rgba(255, 255, 255, .5);
            border: 1px solid white;
        }
    </style>