<div class="container mt-24 space-y-8">
    <h2 class="text-4xl">Selected Work</h2>

    {{ partial "project-card.html" (dict "name" "DiagMarket.fr – The Smart Platform for Energy Audits" "avatar" "/images/icons/favicon.ico" "bio" "DiagMarket.fr is an innovative platform designed to simplify and optimize the search for energy audits at the best price. Whether you're a property owner, a real estate professional, or a business, DiagMarket.fr allows you to compare offers from certified energy auditors and choose the most cost-effective solution for your needs." "link" "/about/" "image" "/images/diagmarket.png") }}

    {{ partial "project-card.html" (dict "name" "DiagMarket.fr – The Smart Platform for Energy Audits" "avatar" "/images/icons/favicon.ico" "bio" "DiagMarket.fr is an innovative platform designed to simplify and optimize the search for energy audits at the best price. Whether you're a property owner, a real estate professional, or a business, DiagMarket.fr allows you to compare offers from certified energy auditors and choose the most cost-effective solution for your needs." "link" "/about/" "image" "/images/diagmarket.png") }}

</div>