<div class="welcome space-y-16 "></div>
    <h1 class="text-8xl text-gray-300 font-bold mb-16">{{i18n "title"}} <strong class="text-gray-900">Théo Lejeune</strong></h1>
    <p class="text-2xl leading-relaxed mb-16 w-1/2">A security-focused developer building resilient applications and uncover vulnerabilities before attackers do. I specialize in penetration testing, secure coding, and building modern, defense-in-depth applications.</p>

    <div class="mt-8 space-x-8 mb-32">
        <a href="/cv/" class="bg-gray-900 text-white px-8 py-4 rounded-lg hover:bg-blue-300">See my resume</a>
        <a href="/contact" class="bg-gray-300 text-white px-8 py-4 rounded-lg hover:bg-blue-300">Get in touch</a>
    </div>
</div>
