<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link href="{{ "css/main.css" | relURL }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery/css/lightgallery.css">
  <script src="https://cdn.jsdelivr.net/npm/lightgallery/lightgallery.umd.js"></script>
  





</head>
<body class="bg-gray-50 dark:bg-custom-onyx text-gray-900 space-y-24 font-sans">
  <header>
    {{ partial "navbar.html" . }}
  </header>

  <main  style="width: 60%; margin-left: 20%; margin-right: 20%; margin-top: 10%;">
    {{ block "main" . }}{{ end }}
  </main>

<footer style="width: 100%; margin-top: 2rem; text-align: center;">
    {{ partial "footer.html" . }}
</footer>
</body>
</html>
